<template>
  <div class="about">
    <Post
      :title="'About this app'"
      :content="
        `This app is a detox app. It is conceived to emulate social-media apps
        but everything is stored locally. Publish to your heart content, no one
        will see it.`
      "
    />
  </div>
</template>
<script>
import Post from "@/components/Post.vue";
export default {
  components: {
    Post: Post
  }
};
</script>
