<template>
  <div class="home">
    <Post
      v-if="!postsLength"
      :title="noPosts.title"
      :content="noPosts.content"
    />
    <Post
      v-for="post in posts"
      :id="post.id"
      :title="post.title"
      :content="post.content"
      :key="post.id"
    />
  </div>
</template>

<script>
import { defineComponent } from "vue";
import Post from "@/components/Post.vue";

export default defineComponent({
  name: "Home",
  data() {
    return {
      posts: [],
      noPosts: {
        title: "No posts found",
        content: 'Start writing, click on "New post"'
      }
    };
  },
  components: {
    Post: Post
  },
  computed: {
    postsLength() {
      return this.posts?.length;
    }
  },
  methods: {
    loadPosts() {
      const posts = localStorage.getItem("posts");
      if (!posts) {
        localStorage.setItem("posts", JSON.stringify([]));
      }
      try {
        return JSON.parse(posts || "[]")
          .filter(post => post.title.length > 0 && post.content.length > 0)
          .sort((a, b) => b.id - a.id);
      } catch (e) {
        console.warn("[App] Cannot load posts");
        return [];
      }
    },
    reloadPosts() {
      this.posts = this.loadPosts();
    }
  },
  mounted() {
    this.posts = this.loadPosts();
  }
});
</script>
