<template>
  <div class="error" v-if="error">Cannot save post</div>
  <section class="post">
    <header>
      <div></div>
      <div>New post</div>
      <div></div>
    </header>

    <div class="content">
      <input type="text" placeholder="Title" v-model="title" />
      <textarea placeholder="Content" v-model="content"></textarea>
      <button type="submit" @click="submit()">Post</button>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      title: "",
      content: "",
      error: false
    };
  },
  methods: {
    reset() {
      this.title = "";
      this.content = "";
    },
    submit() {
      const rawPosts = localStorage.getItem("posts");

      try {
        const posts = JSON.parse(rawPosts).filter(
          post => post.title.length > 0 && post.content.length > 0
        );
        const newPost = {
          id: posts.length,
          title: this.title,
          content: this.content
        };
        const newPosts = [...posts, newPost];
        localStorage.setItem("posts", JSON.stringify(newPosts));
        this.reset();
        this.$emit("reload");
        this.$router.push("/");
        this.error = false;
      } catch (e) {
        this.error = true;
        console.group("[NewPost]");
        console.warn("Could not save post :", this.title, this.content);
        console.warn("Error:", e.message);
        console.groupEnd();
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/variables.scss";
.error {
  background-color: #ffa9a9;
  color: black;
}
header {
  text-align: center;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  $input-color: lighten($primary, 30%);
  input,
  textarea {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    border: 0;
    position: relative;
    margin-bottom: 2px;
  }
}
</style>
