<template>
  <header>
    <nav>
      <div class="brand">
        <router-link to="/">Asocial network</router-link>
      </div>
      <div>
        <ul class="menu">
          <li class="item">
            <router-link to="/new-post">New Post</router-link>
          </li>
          <li class="item">
            <router-link to="/about">About</router-link>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</template>

<style lang="scss" scoped>
@import "../assets/variables.scss";
header {
  position: sticky;
  z-index: 10;
  padding: 5px;
  left: 0;
  top: 0;
  background-color: $primary;

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .brand {
      user-select: none;
      text-transform: uppercase;
      padding: 0 0.5em;
    }
    .menu {
      .item {
        background-color: $accent;
        border-radius: 10px;
      }
    }
    div {
      flex: 1 1 auto;
    }
    ul {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      li {
        flex: 1 1 auto;
        text-align: center;
        cursor: pointer;
      }
    }
  }
}
</style>
