<template>
  <div class="post-container">
    <div class="spacer"></div>
    <section class="post">
      <div>
        <header>
          <div class="post-id" v-if="!!(id + 1)">
            <span>#{{ id + 1 }}</span>
          </div>
          <div v-else></div>
          <div class="title">{{ title }}</div>
          <div></div>
        </header>
        <div class="content">{{ content }}</div>
      </div>
    </section>
    <div class="spacer"></div>
  </div>
</template>

<script>
export default {
  props: {
    id: Number,
    title: String,
    content: String
  }
};
</script>

<style lang="scss">
@import "../assets/variables.scss";
.post-container {
  display: flex;
  flex-wrap: nowrap;
  & > * {
    flex: 1 1 auto;
  }
  section.post {
    margin: 1em 1em;
    padding: 0.1em 0.5em;
    border-radius: 10px;
    box-shadow: 1px 1px 0 0.2em lightblue;
    background-color: $primary;
    min-width: 310px;
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0.1em 0;
      .title {
        text-transform: uppercase;
        text-align: center;
      }
      .post-id {
        font-size: 0.8rem;
        font-style: italic;
        span {
          padding: 3px;
          border-radius: 100%;
          background-color: $accent;
        }
      }
      div {
        flex: 1 1;
      }
    }
    .content {
      padding: 5px;
      width: 100%;
    }
  }
}
</style>
