@import './variables.scss';

html {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: $body;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*text-align: center;*/
  color: $color;
  * {
    position: inherit;
    margin: 0;
    padding: 0;
  }
  button {
    padding: 5px 5px;
    color: $color;
    border-radius: 10px;
    background-color: $accent;
    &:hover, .active {
      background-color: $sec-accent;
    }
  }
  a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
  }
}