<template>
  <Nav />
  <router-view />
</template>

<script>
import NavVue from "./components/Nav.vue";
import "./assets/styles.scss";
export default {
  components: {
    Nav: NavVue
  }
};
</script>

<style lang="scss"></style>
